
.login-image{
    width:440px;
    object-fit: cover;
}
.login{
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    padding-top:110px;
}
.vl{
    border-left: 1px solid #e85a48;
    height: 400px;
  }
@media screen and (max-width:992px) and (min-width:777px){
    .vl{
        height:280px;
    }
}
@media screen and (max-width:778px) and (min-width:591px){
    .vl{
        height:200px;
    }
}
@media screen and (max-width:592px) and (min-width:421px){
    .vl{
        height:170px;
    }
}

@media screen and (max-width:423px){
    .vl{
        height:120px;
    }
}
.login-form{
    text-align: center;
    padding-bottom: 20px;
   
}

input{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 20px 10px 20px 5px;
    letter-spacing: 1px;
}

#username{
    margin-bottom: 20px;
    border-bottom: 2px solid #c2c4c3;
}
#username:hover{
    border-bottom: 3px solid #485563;
}

#password{
    margin-bottom: 30px;
    border-bottom: 2px solid #c2c4c3;
    transition: .5s ease;
}
#password:hover{
    border-bottom: 3px solid #485563;
}


.login-button{
    display:inline-block;
    width: 100px;
    height: 40px;
    color:#f84258;
    border-radius: 4px;
    background:#ffffff;
    border:none;
    font-weight: 900;
    cursor: pointer;
    transition: 0.2s;
    
}
.login-button:hover{
    background-color:#eae7dc;
    
    
}
.back-button{
    display:inline-block;
    width: 100px;
    height: 40px;
    color:#5d5c61;
    background: none;
    border:none;
    font-weight: 900;
    cursor: pointer;
    transition: 0.2s;
}
.back-button:hover{
    color:#414044;
}

hr{
    border: 1px solid #caa529;
    max-width:70px;
    margin:auto;
    
}
h4.other-login-op{
    text-align:center;
    font-size: 18px;
    font-weight: 900;
    color:#5d5c61;
}
.social{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding-bottom: 20px;
    
}

.social h2 a i{
    color: gray;
}

.social h2 a i:hover{
    color: #f84258;
}